<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yc.mmrecover">

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--存储空间-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--存储空间-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--精确位置-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>-->
    <!--大致位置-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>-->
    <!--手机状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--相机-->
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"></uses-permission>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.activitys.SplashActivity"
            android:icon="@mipmap/ic_launcher"
            android:screenOrientation="portrait"
            android:theme="@style/StartAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.activitys.MainActivity"></activity>
        <activity android:name=".controller.activitys.MyActivity"></activity>
        <activity android:name=".controller.activitys.AboutUsActivity"></activity>
        <activity android:name=".controller.activitys.ComplaintActivity"></activity>
        <activity android:name=".controller.activitys.ContactActivity"></activity>
        <activity android:name=".controller.activitys.FeedbackActivity"></activity>
        <activity android:name=".controller.activitys.HelpActivity"></activity>
        <activity android:name=".controller.activitys.PayActivity"></activity>


        <activity android:name=".controller.activitys.ShowFileActivity"></activity>
        <activity android:name=".controller.activitys.ShowImageActivity"></activity>
        <activity android:name=".controller.activitys.ShowVoiceActivity"></activity>
        <activity android:name=".controller.activitys.ShowVideoActivity"></activity>

        <activity android:name=".controller.activitys.DetailVideoActivity"></activity>
        <activity android:name=".controller.activitys.DetailImageActivty"></activity>

        <activity android:name=".controller.activitys.RecoverVideoActivity"></activity>
        <activity android:name=".controller.activitys.RecoverImageActivity"></activity>
        <activity android:name=".controller.activitys.RecoverVoiceActivity"></activity>
        <activity android:name=".controller.activitys.RecoverFileActivity"></activity>

        <activity android:name=".controller.activitys.WebActivity"></activity>

        <provider
            android:authorities="com.yc.mmrecover.myFileProvider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>